{% extends 'sasha/base.html' %}

{% block contenido%}

    <div>      

    <p><h1><b>Natasha Mariel Infante</b></h1></p>

    <p><h4>Soy Natasha Mariel Infante, de Buenos Aires. Tengo 32 años, trabajo de manera independiente y estudio ingles y diseño.
        Realice el curso de Python para ganar conocimientos en el area informatica y sumar nuevas experiencias.

     <p></p>

     <p>Atte.

       Natasha 
    </p>
    </h4></p>

    </div>
    <div>

        <li><a href="/sasha/listar/">Volver a lista</a></li>

    </div>   
    
{% endblock %}